<ion-content [fullscreen]="true" class="component">
  <div class="bg-image"></div>
  <div class="login-container">
    <form>
      <h1>Ingreso</h1>
      <div id="content">

        <div id="inputs" class="content-divs">
          <ion-item>
            <ion-label position="floating">Correo</ion-label>
            <ion-input
              type="input"
              name="correo"
              [(ngModel)]="email"
              required
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              type="password"
              name="password"
              [(ngModel)]="password"
              required
            ></ion-input>
          </ion-item>
        </div>

        <div id="buttons" class="content-divs">
          <ion-select
            aria-label="seleccione un usuario"
            interface="action-sheet"
            placeholder="seleccione un usuario"
            fill="outline"
            (ionChange)="btnUser($event)"
            (ionCancel)="cancel($event)"
          >
            @for (button of buttons; track $index) {
            <ion-select-option [value]="button.nombre"
              >{{button.nombre}}</ion-select-option
            >
            }
          </ion-select>
          <ion-button
            (click)="btnLogin()"
            expand="block"
            type="submit"
            fill="fill"
            class="btnLogin"
            shape="round"
            id="btnLogin"
            size="medium"
            >Iniciar sesión</ion-button
          >
        </div>
      </div>

      <ion-toast
        message="usuario inválido"
        [duration]="2000"
        [isOpen]="isToastOpen"
        color="danger"
      ></ion-toast>
      <p class="register-link">
        ¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a>
      </p>
    </form>
  </div>
</ion-content>
