// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

.alert {
    color: black;
    button.alert-button:nth-child(1),
    button.alert-button:nth-child(2){
      color: black;
      font-size: xx-large;
    }
  }